node_modules/
./package-lock.json

#It manages to rebuild without any problem.
#The only downside if I want a clean slate of the database, I need to run sudo rm -rf data to remove the folder.
data/

# sudo systemctl stop mongod
# docker-compose down
# docker-compose up