{% extends 'layout.html' %}

{% block content %}

<form class="pwreset-form" action="/users/passwordReset/{{id}}" method="post">
    <h3 class="form-title">Reset Password</h3>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" required>
        <span class="password-error text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
        <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password" name="confirm-password" required>
        <span class="confirm-password-error text-danger"></span>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase">Submit</button>
    </div>
</form>

{% endblock %}

{% block js %}      

<script>
    $('.pwreset-form').submit(e => {
        e.preventDefault();
                $.ajax({
                    url: $('.pwreset-form').attr('action'),
                    type: 'POST',
                    data: $('.pwreset-form').serialize(),
                    success: function (data, statusText, xhr) {
                        console.log(data);
                        window.location.href = window.location.origin + data.url
                    },
                    error: function(xhr, status, error){
                        const errors = xhr.responseJSON;
                        $.each(errors, function(k, v){
                            console.log(v);
                            $("." + v.param + "-error").text(v.msg);
                            setTimeout(function(){   $("." + v.param + "-error").text(''); },3000);
                        });
                    }
        });
    });
</script>

{% endblock %}
